<div class="header clearfix">
  <h3 class="text-muted"><span style="vertical-align: inherit;"><span
    style="vertical-align: inherit;">个人博客</span></span></h3>
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user/home']"><span style="vertical-align: inherit;"><span
          style="vertical-align: inherit;">首页</span></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user/blog-list']"><span style="vertical-align: inherit;"><span
          style="vertical-align: inherit;">博客</span></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user/login']"><span style="vertical-align: inherit;"><span
          style="vertical-align: inherit;">登录</span></span></a>
      </li>
    </ul>
  </nav>
</div>
