<div class="jumbotron" style="background-color: rgb(215, 220, 225); color: rgb(0, 0, 0);">

  <div class="jumbotron" style="background-color: rgb(192, 192, 192);">
    <div class="form-group" style="">
      <label>名称</label>
      <input type="text" class="form-control" [(ngModel)]="visitorName" name="visitorName">
      <label>邮箱</label>
      <input type="text" class="form-control" [(ngModel)]="email" name="email">
      <label>评论</label>
      <textarea class="form-control" [(ngModel)]="content" name="content"></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="postComment()">发表评论</button>
  </div>

  <hr>

  <div class="jumbotron" style="background-color: rgb(192, 192, 192);">
    <p>{{flog}}</p>
    <div class="form-group" *ngFor="let obj of comment">
      <label>{{obj.visitorName}}:</label>
      <textarea readonly="readonly">{{obj.content}}</textarea>
    </div>

  </div>

</div>
